<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png"
    />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Title page</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet" />

    <style>
      .card-container-lg { /* Style for transparency */
        background-color: rgba(255, 255, 255, 0.7) !important; 
      }

      /* --- ADDED CSS FOR UNIFORM IMAGE SIZE --- */
      .black-image-project-hover img.img-responsive { 
        width: 100%;          /* Fill the column width */
        height: 200px;         /* Set a FIXED height - ADJUST THIS VALUE AS NEEDED! */
        object-fit: cover;    /* Maintain aspect ratio, cover the area, crop if needed */
        object-position: center; /* Center the image within its frame */
      }
      /* --- END ADDED CSS --- */

    </style>
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">02 : Works</h1>
              <p>
                Enjoy My Websites
              </p>
            </div>
          </div>

          <div class="col-md-12">

                  <div class="row">
                    <div class="col-sm-4"> <a
                        href="https://erez-amsalem-node-js-book-cart.azurewebsites.net/"
                        target="_blank" rel="noopener noreferrer"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/booklist2.png"
                          alt="Book Shop Project"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4></h4>
                        <h3>Erez Amsalem Demo Book Shop</h3>
                        <p>
                          Demo e-commerce book shop hosted on azure app service with mongo db database
                        </p>
                        <a href="https://erez-amsalem-node-js-book-cart.azurewebsites.net/" title="" class="btn btn-default" target="_blank" rel="noopener noreferrer"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4"> <a
                        href="https://erez-amsalem-blogpost-811efdddcc75.herokuapp.com/"
                        target="_blank" rel="noopener noreferrer"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/blogpost.png"
                          alt="Blog Post Project"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4></h4>
                        <h3>Blog Post Site</h3>
                        <p>
                          Node.Js and Mongo Db Hosted on Heroku.com
                        </p>
                        <a href="https://erez-amsalem-blogpost-811efdddcc75.herokuapp.com/" title="" class="btn btn-default" target="_blank" rel="noopener noreferrer"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4"> <a
                        href="https://todo-list-app-1025943767209.us-east1.run.app/"
                        target="_blank" rel="noopener noreferrer"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/to-do-list.png"
                          alt="To Do List App"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4></h4>
                        <h3>To Do List app</h3>
                        <p>
                          hosted on GCP Cloud Run with Mongo Db database.
                        </p>
                        <a href="https://todo-list-app-1025943767209.us-east1.run.app/" title="" class="btn btn-default" target="_blank" rel="noopener noreferrer"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4"> <a href="https://amalia-amsalem.netlify.app/" class="black-image-project-hover" target="_blank" rel="noopener noreferrer">
                        <img
                          src="./static/assets/images/amalyaweb.png"
                          alt="Daughter Drawings Website"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg"> 
                        <h4></h4>
                        <h3>My daughter drawings website</h3>
                        <p>
                          Hosted on www.netlify.com.
                        </p>
                        <a href="https://amalia-amsalem.netlify.app/" class="btn btn-default" target="_blank" rel="noopener noreferrer"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4"> <a href="http://erezamsalem.link" class="black-image-project-hover" target="_blank" rel="noopener noreferrer">
                        <img
                          src="./static/assets/images/booklist2.png"
                          alt="Serverless Web App"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg"> 
                        <h4></h4>
                        <h3>Serverless web app</h3>
                        <p>
                          hosted on AWS Lambda with Mongo Db database. In addition, the site was deployed also in azure with Cosmos Db database - https://erez-amsalem-book-catalog.azurewebsites.net.
                        </p>
                        <a href="http://erezamsalem.link" class="btn btn-default" target="_blank" rel="noopener noreferrer"
                          >Discover</a
                        >
                      </div>
                    </div>

                    <div class="col-sm-4"> <a href="https://erez-amsalem-mern.azurewebsites.net/" class="black-image-project-hover" target="_blank" rel="noopener noreferrer">
                        <img
                          src="./static/assets/images/movie.png"
                          alt="MERN App"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg"> 
                        <h4></h4>
                        <h3>MERN app.</h3>
                        <p>
                          hosted on Heroku and Azure
                        </p>
                        <a href="https://erez-amsalem-mern.azurewebsites.net/" class="btn btn-default" target="_blank" rel="noopener noreferrer"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  </div> </div> </div> </div> <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              © UNTITLED | Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>
</html>